/*@font-face {
  src: url(../fonts/Roboto-Bold.woff);
  font-family: 'Roboto';
}*/

*{
  box-sizing: border-box;
  /*font-family: "Roboto";*/
}

body{
  background-color: #f5f5f5;
}
img{
  width: 100%;
}
.card .card-action {
  border-top: 0;
  color: grey;
  padding: 0;
}
span .card-action {
  color: white;
  font-size: .8em;
}

.card-content .card-action {
  /*color: grey;*/
  font-size: .8em;
  margin-top: 50px;
}

@media (min-width: 600px){
  .card.horizontal{
    width: 100%;
    display: block;
    clear: both;
  }
  .card.horizontal .card-image {
      max-width: 100%;
    }
  /*.card.card-image img{
    max-width: 100%;
    width: 100%;
    display: block;
    border: 10px solid red;
  }*/

}
