/*@font-face {
  src: url(../fonts/Roboto-Bold.woff);
  font-family: 'Roboto';
}*/

*{
  box-sizing: border-box;
  /*font-family: "Roboto";*/
  font-size: 120%;
}
html{
  line-height: 1;
}
body{
  background-color: #f5f5f5;
}
.card {
  overflow: auto;
}

 .card .card-title{
  font-size: 2rem;
}
.card .card-action {
  font-size: 1.3rem;
  border-top: 0;
  color: white;
  padding: 0 0 5px 10px;


}

.card .card-text .card-body h5{
  font-size: 1.2rem;
  text-align: center;
  padding: 0 10px;
}
.card-body .card-action {
  font-size: .8rem;
  position:absolute;
  bottom:2px;
}


@media (min-width: 600px) {
  .card.horizontal{
    width: 100%;
    display: block;
    clear: both;
  }
  .card.horizontal .card-image {
      max-width: 100%;
    }
  .container{
    width: 90%;
  }
  .card .card-text .card-body h5{
    padding: 0 10px 20px 10px;
  }

  #top .card .card-image{
    max-height: 295px;
    overflow: hidden;
  }

  #last .card .card-image{
    max-height: 295px;
    overflow: hidden;
  }
}



@media (min-width: 1140px){
  #top .card .card-image{
    max-height: 315px;
  }
  #last .card .card-image{
    max-height: 315px;
  }
}
